* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    border: none;
}

body {
    -webkit-touch-callout: none;   /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    width: 100%;
    padding-top: 5vh;
    background-color: #7d0688;
    background-size: cover;
    background-position-y: -150px;
}



input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    background-color: #164de4;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: 40px;
}

/*Form*/
#main-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}


label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #164de4;
}

input[type="submit"] {
    background-color: #164de4;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.error-validation {
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template {
    display: none;
}

.btn {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    background-color: #164de4;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

table{
	width:100%;
	padding:5px;
	border: 1px solid #eee;
	border-radius: 5px;
	text-align: center;
}
thead{
	background: #164de4;
	color: #fff;
}
tr{
	border-bottom: 1px solid #eee;
}
td{
	text-align: center;
}